<body>
  <div class="top-left" routerLink="/"><span>back to Imgur</span></div>
  <div class="top-block"></div>
  <div class="heading"></div>
  <div class="signin-block">
    <div class="register-with">Register with</div>
    <div class="icons">
      <a href="#" class="fa fa-facebook f-color mr10"></a>
      <a href="#" class="fa fa-twitter t-color mr10"></a>
      <a href="#" class="fa fa-apple a-color mr10"></a>
      <a href="#" class="fa fa-google g-color mr10"></a>
      <a href="#" class="fa fa-yahoo y-color "></a>
    </div>
    <div class="register-with">or with Imgur</div>
    <div class="icons">
      <div style="display: flex;flex-direction: column">
      <input class="input-c" placeholder="Username">
      <input class="input-c" placeholder="Email">
      <input class="input-c" placeholder="Password">
      <input class="input-c" placeholder="Retype Password">
      <input class="input-c" placeholder="Phone Number">
        <span style="font-size: 11px;color: grey;text-align: center">Standard message and data rates may apply.</span>
        <span  style="font-size: 11px;color: white;text-align: center">Why do I have to verify my phone?</span>
      </div>
    </div>
   <div style="display: flex;justify-content: flex-end;margin-top: 15px">
     <span style="color: white;padding: 10px" routerLink="/sign-in">sign in</span>
     <div class="button-violet">Next</div>
   </div>
  </div>
</body>
